/* General */ 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-weight: 500;
    background-color: #0e0d13;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 90%;
    background-color: #24232b;
    color: #b5b3bc;
}

i {
    float: right;
    color: orangered !important;
}

/* Header component */
h3 {
    text-align: center;
    color: #7c7989;
}

/* Display component */
.display {
    font-family: monospace;
    font-weight: 800;
    font-size: 1.25rem;
}

/* Controller component */
/* Character length */
.char-length {
    float: right;
    margin-top: -0.5rem; /* centralise with text */
    font-size: 1.5rem;
    color: orangered;
}

/* Customise bootstrap form-range */ 
.form-range:focus::-webkit-slider-thumb {
    box-shadow: none;
}

.form-range:focus::-moz-range-thumb {
    box-shadow: none;
}

.form-range::-webkit-slider-thumb {
    background-color: orangered;
    border-radius: 0rem;
}

.form-range::-webkit-slider-thumb:active {
    background-color: orangered;
}

.form-range::-webkit-slider-runnable-track {
    background-color: #18171f;
    border-radius: 0rem;
}

.form-range::-moz-range-thumb {
    background-color: orangered;
    border-radius: 0rem;
}

.form-range::-moz-range-thumb:active {
    background-color: orangered;
}

.form-range::-moz-range-track {
    background-color: #18171f;
    border-radius: 0rem;
}

/* Customise bootstrap form-check-input */
.form-check-input {
    background-color:#18171f;
    border-color: #7c7989;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: orangered;
    border-color: #18171f;
}

/* Strength bar */
.strength {
    background-color: #18171f;
    color: #7c7989;
}

.strength span {
    float: right;
}

/* Generate button */
.btn-generate {
    width: 100%;
    color: #b5b3bc;
    font-variant: small-caps;
    background-color: orangered;
    border-color: rgb(24, 23, 31);
    border-radius: 0;
}

.btn-generate:hover {
    background-color: rgba(255, 69, 0, .4);
}

/* Copied modal */
.copied {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 31, .8);
    color: #b5b3bc;
}

.copied p {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 4rem;
}

/* RWD */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 374px) {
    .display {
        font-size: 1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 50%;
    }
} 

